body {
    background-color: #f8f9fa;
    font-family: 'Arial', sans-serif;
    color: #333;
}

header {
    background-color:  #f0f8ff;
    padding: 20px 0;
    text-align: center;
}

h2 {
    font-size: 2.5rem;
    color: #fff;
}

.image img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
}

.image img:hover {
    transform: scale(1.05);
}

.description {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
}

button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 12px 24px;
    font-size: 1rem;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

button:hover {
    background-color: #0056b3;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

td, th {
    padding: 10px;
    text-align: center;
    border: 1px solid #dee2e6;
}

th {
    background-color: #007bff;
    color: #fff;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #e2e6ea;
}

@media only screen and (max-width: 768px) {
    h2 {
        font-size: 2rem;
    }

    .image img {
        max-width: 90%;
    }

    .description {
        padding: 10px;
        margin-top: 10px;
    }

    button {
        padding: 10px 20px;
        font-size: 0.9rem;
    }

    table {
        font-size: 0.9rem;
    }

    td, th {
        padding: 8px;
    }
}
